<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="item" let-item>
            @if (item.route) {
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
            }
            @else {
            <a [href]="item.url" class="p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
            }
        </ng-template>
        <ng-template pTemplate="end">
            <p-button icon="pi pi-user" severity="secondary" routerLink="/auth/login" />
        </ng-template>

    </p-menubar>
</div>