<div class="w-full flex flex-column align-items-center mt-2">
  <form
    (ngSumbit)="onSubmit()"
    [formGroup]="generatorForm"
    (keyup.enter)="onSubmit()"
    class="w-full h-full flex sm:flex-row flex-column justify-content-center align-items-center gap-4 pb-5"
  >
    <p-floatLabel class="w-full md:w-8 lg:w-4">
      <input type="text" pInputText class="w-full" formControlName="prompt" />
      <label for="number-input">Prompt</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" formControlName="batchSize" [showButtons]="true" [min]="1" [max]="4" />
      <label for="number-input">Number of 3d models</label>
    </p-floatLabel>
    <p-button label="Submit" class="w-full sm:max-w-min" (click)="onSubmit()" />
  </form>
  @if (submitted) {
  <div class="flex justify-content-center align-items-center gap-3 flex-column">
    <p-progressSpinner styleClass="w-4rem h-4rem m-auto w-full h-25rem" strokeWidth="8" animationDuration=".5s" />
  </div>
  } @if (generated && !submitted) {
  <div class="grid col-2 justify-content-center align-items-center w-full gap-6">
    @for(modelPath of this.modelPaths; track modelPath) {
    <div class="flex flex-column justify-content-center align-items-center gap-3">
      <model-viewer
        [modelPath]="modelPath"
        [height]="windowWidth / 3"
        [width]="windowWidth / 3"
        class="border-round-3xl overflow-hidden"
      ></model-viewer>
      <p-button label="Save" class="w-full sm:max-w-min" (click)="saveForm(modelPath)" />
    </div>
    }
  </div>
  @if(this.saveFormModelPath() && visible()) {
  <generator-save-form [modelPath]="saveFormModelPath" [visible]="visible" [generationData]="generationData"></generator-save-form>
  } }
</div>
@if(this.modelPaths.length > 2) {
<bottom-button></bottom-button>
}
