<div
  #rendererContainer
  [style.width.px]="this.width"
  [style.height.px]="this.height"
  class="border-round-xl shadow-8 relative align-content-end"
>
  <p-button
    icon="pi pi-expand"
    class="border-round-xl absolute right-0 focus-visible:outline-none"
    [text]="true"
    severity="secondary"
    (click)="fullscreen()"
  ></p-button>
  <p-button icon="pi pi-camera"
            class="absolute border-round-xl absolute focus-visible:outline-none"
            [text]="true"
            severity="secondary"(click)="takeScreenshot()"></p-button>
</div>
