<p-dialog header="Save model" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }">
  <form [formGroup]="saveForm" (ngSubmit)="onSave()">
    <div class="flex align-items-center gap-3 mb-3">
      <label for="name" class="font-semibold w-6rem">Name</label>
      <input pInputText id="name" class="flex-auto" autocomplete="off" formControlName="name" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="description" class="font-semibold w-6rem">Description</label>
      <textarea rows="5" cols="30" pInputTextarea formControlName="description" id="email" class="flex-auto" style="resize: none">
      </textarea>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="thumbnail" class="font-semibold w-6rem">Thumbnail</label>
      <model-viewer
        [modelPath]="modelPath()"
        [height]="398"
        [width]="398"
        class="border-round-3xl overflow-hidden"
        #thumbnailViewer
      ></model-viewer>
    </div>
    <div class="flex align-items-center justify-content-center gap-3 mb-5 mt-3">
      <p-toggleButton
        formControlName="isPublic"
        onLabel="Public"
        offLabel="Private"
        offIcon="pi pi-lock"
        onIcon="pi pi-lock-open"
        styleClass="w-9rem"
        ariaLabel="isPublic"
        id="isPublic"
      />
    </div>
    <div class="flex justify-content-center gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visible.set(false)" />
      <p-button label="Save" (click)="visible.set(false); onSave()" />
    </div>
  </form>
</p-dialog>
